body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
  height: 100%;
}

.d-flex.min-vh-100 {
  min-height: 100vh;
}

.navbar {
    background-color: #343a40;
}

.navbar a {
    color: #fff;
}

.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.card:hover img {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}